@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;800;900&family=Quicksand:wght@300;400;500;600;700;800;900&display=swap');.body {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
*
{
    font-family: Quicksand;
    color: #545454;
    

}
a{
    text-decoration: none;
}
.body-container {

    width: 800px;
    /* background: red; */
    border: solid #8B3DFF 1px;
    border-radius: 30px;


}

.body-container-top {
    display: flex;
    margin-top: 30px;
    width: 100%;
    /* background-color: green; */
    height: 180px;
    
}

.body-container-top-left {
    width: 300px;

    height: 100%;
    margin-right: 10px;
}

.body-container-top-left-circle {
    position: absolute;
    margin-left: 40px;
    margin-top: 40px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #545454;


}
.body-container-top-right
{
    cursor: pointer;
}

.body-container-top-left-image img {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
    height: auto;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;



}

.body-container-top-left-image-1:hover
{

    
    width: 167px;
    margin-left: 20px;
    margin-top: 10px;
    content: url('./prfl3.png');
}


.body-container-top-right
{
    margin-top: 30px;
    margin-left: 20px;
}
.body-container-top-right-name1{
    font-family: Orbitron;
    font-size: 2.47em;
    font-weight: 700;
    /* color: #545454; */
    color: #8B3DFF;
}
.body-container-top-right-name2{
    position: absolute;
    font-family: Orbitron;
    font-size: 2.5em;
    color: #545454;
    font-weight: 900;
    margin-top: -50px;
    /* color: #8B3DFF; */
}
.body-container-top-right-job
{
    font-family: Quicksand;
    font-size: 1.5em;
    color: #545454;
    font-weight: 400;
}
.body-container-top-right-description
{
    width: 80%;
 font-family: Quicksand;
 color: #595959;
 font-size: 12px;
}

.body-container-detials
{
    width: 100%;

   
    padding-top: 15px;
    display: flex;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    background-color: #F1F1F1;
    height: 150px;
}
.body-container-detials label a:hover
{
    color: #8B3DFF;
}
.body-container-detials span,.body-container-detials i
{
    
    font-size: 20px;
}
.body-container-detials-left
{
    margin-left: 50px;
   width: 50%;
   align-items: center;   
}
.body-container-detials label
{
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
}
.body-container-detials-left-link{
    margin-top: 10px;
}
.body-container-detials-right-link{
    margin-top: 10px;
}
.body-container-body
{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    
}
.body-container-body-left{
    width: 50%;
    height: 400px;
    /* background-color: aqua; */
}
.body-container-body-right{
    width: 50%;
    height: 400px;
    background-color: rgb(255, 0, 115);
}

.body-container-top-left-image {
   
    transition: transform ease 0.5s, box-shadow ease 0.5s;
  }
.body-container-top-left-image:hover {
    transform: translateY(-5px);
  }
.body-container-body-left-education-head
{
    margin: 5px;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: -2px;
}.body-container-body-left-education-line-head
{
    width: 1px;
    height: 6px;
    background-color: #8B3DFF;
}
.body-container-body-left-education-line
{
    display: flex;
    justify-content: space-around;
}
.body-container-body-left-education-line-line{
    width: 100%;
    height: 1.5px;
    margin-top: 2px;

    background-color: #8B3DFF;
}
.body-container-body-left-education-line-tail{
    width: 1px;
    height: 6px;
    background-color: #8B3DFF;

}
.body-container-body-left-education-sub-head
{
   
    display: flex;
    justify-content:space-between;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 800;
    
}
.body-container-body-left-education-sub-detiail{
    font-size: 11px;
    color: #545454;
    margin-left: 6px;
    font-weight: 500;
}
.body-container-body-left-education-sub-detiail-year
{
    margin-top: 2px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 700px) {
    .body-container {
        /* background-color: lightblue; */
        width: 100%;
    }


}

@media only screen and (max-width: 600px) {
    .body-container-top {
       
        height: 150px;
    }
    .body-container-top-left-circle {

        width: 100px;
        height: 100px;
        margin-left: 12px;


    }

    .body-container-top-left-image img {


        width: 120px;
        height: auto;
        margin-left: 2px;



    }
    .body-container-top-left-image-1:hover
{

    
    width: 132px;
    margin-top: 15px;
    margin-left: -5px;
    content: url('./prfl3.png');
}

    .body-container-top-left {
        width: 250px;
    }
    .body-container-top-right
{
    margin-top: 30px;
    margin-left: 40px;
}
.body-container-top-right-name1{
    font-family: Orbitron;
    font-size: 2.17em;
    font-weight: 700;
    /* color: #545454; */
    color: #8B3DFF;
}
.body-container-top-right-name2{
   
    font-size: 2.2em;
    margin-top: -45px;
   
}
.body-container-top-right-job
{
    font-size: 1.2em;
}
.body-container-top-right-description
{
    width: 100%;
 font-size: 9px;
}

.body-container-detials
{
   

   
    font-size: 9px;
    height: 100px;
}
.body-container-detials span,.body-container-detials i
{
    
    font-size: 10px;
}
.body-container-detials-left
{
    margin-left: 20px;
   width: 50%;
   align-items: center;   
}
.body-container-detials label
{
    position: absolute;
    margin-top: -1px;
    margin-left: 10px;
}
.body-container-detials-left-link{
    margin-top:7px;
}
.body-container-detials-right-link{
    margin-top: 7px;
}
.body-container-body-left-education-sub-head
{
   
    margin-bottom: 3px;
    font-size: 10px;
    
    
}
.body-container-body-left-education-sub-detiail{
    font-size: 8px;
   
}


}