@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x:hidden 
} 
.vertical-timeline-element-content {
  box-shadow: inset 1px 1px  6px  #00cea8, 2px 2px  6px  #bf61ff,0px 0px  8px  #00cea8,0px 0px  8px  #bf61ff
              
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;800;900&family=Quicksand:wght@300;400;500;600;700;800;900&display=swap');.body {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
*
{
  font-family: Quicksand;
  color: #545454;
  

}
a{
  text-decoration: none;
}
.body-container {

  width: 800px;
  /* background: red; */
  border: solid #8B3DFF 1px;
  border-radius: 30px;


}

.body-container-top {
  display: flex;
  margin-top: 30px;
  width: 100%;
  /* background-color: green; */
  height: 180px;
  
}

.body-container-top-left {
  width: 300px;

  height: 100%;
  margin-right: 10px;
}

.body-container-top-left-circle {
  position: absolute;
  margin-left: 40px;
  margin-top: 40px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #545454;


}
.body-container-top-right
{
  cursor: pointer;
}

.body-container-top-left-image img {
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  width: 150px;
  height: auto;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;



}

.body-container-top-left-image-1:hover
{

  
  width: 167px;
  margin-left: 20px;
  margin-top: 10px;
  content: url('./prfl3.png');
}


.body-container-top-right
{
  margin-top: 30px;
  margin-left: 20px;
}
.body-container-top-right-name1{
  font-family: Orbitron;
  font-size: 2.47em;
  font-weight: 700;
  /* color: #545454; */
  color: #8B3DFF;
}
.body-container-top-right-name2{
  position: absolute;
  font-family: Orbitron;
  font-size: 2.5em;
  color: #545454;
  font-weight: 900;
  margin-top: -50px;
  /* color: #8B3DFF; */
}
.body-container-top-right-job
{
  font-family: Quicksand;
  font-size: 1.5em;
  color: #545454;
  font-weight: 400;
}
.body-container-top-right-description
{
  width: 80%;
font-family: Quicksand;
color: #595959;
font-size: 12px;
}

.body-container-detials
{
  width: 100%;

 
  padding-top: 15px;
  display: flex;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  background-color: #F1F1F1;
  height: 150px;
}
.body-container-detials label a:hover
{
  color: #8B3DFF;
}
.body-container-detials span,.body-container-detials i
{
  
  font-size: 20px;
}
.body-container-detials-left
{
  margin-left: 50px;
 width: 50%;
 align-items: center;   
}
.body-container-detials label
{
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
}
.body-container-detials-left-link{
  margin-top: 10px;
}
.body-container-detials-right-link{
  margin-top: 10px;
}
.body-container-body
{
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  
}
.body-container-body-left{
  width: 50%;
  height: 400px;
  background-color: aqua;
}
.body-container-body-right{
  width: 50%;
  height: 400px;
  background-color: rgb(255, 0, 115);
}

.body-container-top-left-image {
 
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}
.body-container-top-left-image:hover {
  transform: translateY(-5px);
}


@media only screen and (max-width: 700px) {
  .body-container {
      /* background-color: lightblue; */
      width: 100%;
  }


}

@media only screen and (max-width: 600px) {
  .body-container-top {
     
      height: 150px;
  }
  .body-container-top-left-circle {

      width: 100px;
      height: 100px;
      margin-left: 12px;


  }

  .body-container-top-left-image img {


      width: 120px;
      height: auto;
      margin-left: 2px;



  }
  .body-container-top-left-image-1:hover
{

  
  width: 132px;
  margin-top: 15px;
  margin-left: -5px;
  content: url('./prfl3.png');
}

  .body-container-top-left {
      width: 250px;
  }
  .body-container-top-right
{
  margin-top: 30px;
  margin-left: 40px;
}
.body-container-top-right-name1{
  font-family: Orbitron;
  font-size: 2.17em;
  font-weight: 700;
  /* color: #545454; */
  color: #8B3DFF;
}
.body-container-top-right-name2{
 
  font-size: 2.2em;
  margin-top: -45px;
 
}
.body-container-top-right-job
{
  font-size: 1.2em;
}
.body-container-top-right-description
{
  width: 100%;
font-size: 9px;
}

.body-container-detials
{
 

 
  font-size: 9px;
  height: 100px;
}
.body-container-detials span,.body-container-detials i
{
  
  font-size: 10px;
}
.body-container-detials-left
{
  margin-left: 20px;
 width: 50%;
 align-items: center;   
}
.body-container-detials label
{
  position: absolute;
  margin-top: -1px;
  margin-left: 10px;
}
.body-container-detials-left-link{
  margin-top:7px;
}
.body-container-detials-right-link{
  margin-top: 7px;
}

}